* {
    margin: auto;
    padding: auto;
}

h1 {
    
    font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;
    color: white;
    background-color: green;
    padding-top: 25px;
    padding-bottom: 20px;
    cursor: pointer;

}

h4 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: large;
    margin-left: 150px;
    padding-top: 10px;
}

.block {
    margin-left: 140px;
    background-color: red;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 0px;
    cursor: pointer;
}

label {
    width: 150px;
    display: inline-block;
}

.tbox {
    width: 215px;
    margin: 5px;
}

#dropdown {
    margin: 5px;
}