body {
  background-color: #723434;
  font-family: "Roboto", sans-serif;
}
.SM{
    padding: 30px;
    text-align: center;
    font-weight:bolder ;
    font-size: 35px;
    background-color: green;
    color: white;
}

body {

    background-color: #ddd;
    background-position: center;
    background-size: cover;
    height: 109vh;
    background-repeat: no-repeat;
}
.button1{
   text-align: center;
   background-color: green;
   color: white;
   padding: 32px;
   width: 100%;
   font-size: 20px;
   font-weight: bolder;
}

.button2{
    
    background-color: green;
    padding: 32px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.button3{
    background-color: green;
    padding: 32px;
    color: white;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
}

.button4{
    background-color: green;
    padding: 32px;
    color: white;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
}

.button5{
    background-color: green;
    padding: 32px;
    color: white;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
}
.sec{
  float: left;
  width: fit-content 7;
  background:green;
  padding: 20px;

}

/* for riders page*/
.M_Riders{
 padding: 30px;
 background-size: contain,cover;
 background-color: rgb(28, 180, 0);
 border: 1px solid rgb(5, 5, 5);
 margin: 50;
 color: white;
 font-size: 30px;
 font-weight: bolder;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: rgb(96, 128, 0);
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 18px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
  .nm{
    text-align: center;
  }

/* for table contents adding in riders page */
  table{
    border-collapse: collapse;
    width: 400px;
  }
  table th {
    text-align:left
    background-color #3a6070
    color #FFF;
    padding: 4px 90px 4px 60px 
  }
  

  table td{
    border: 1px solid #e3e3e3;
    padding:4px 8px;
  }
  table td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  table td {
    border-spacing: 30px;
  }

  Example
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

